<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Orange Talents - ZUP</title>
</head>
<body>


    <div class="jumbotron text-center">
        <h1>Orange talents</h1>
    </div>
    <div class="row">

        <div class = "container well well-lg" style="background-color: aliceblue;">
        <a href="/cadastro_usuario" role="button" class="btn btn-success btn-block btn-group-lg"><span class="glyphicon glyphicon-ok-sign"></span> Cadastrar novo usuário</a>
        </div>
        <div class = "container well well-lg">
        <a href="/cadastro_endereco" role="button" class="btn btn-success btn-block btn-group-lg"><span class="glyphicon glyphicon-ok-sign"></span> Cadastrar novo endereço</a>
        </div>
        <div class = "container well well-lg">
        <button type="button" class="btn btn-success btn-block btn-group-lg"><span class="glyphicon glyphicon-search"></span> Consultar usuários cadastrados</button>
        </div>
    </div>

    </div>    
</body>
</html>